body {
    margin-top: 50px;
    background-color: black;
}

main {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}

main > section {
    display: grid;
    width: 280px;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-color: black;
}

main > section > div {
    border: 0.5px solid darkgray;
    padding: 14px;
}


section:nth-child(1) [id$="y0"],
section:nth-child(1) [id$="y1"],
section:nth-child(1) [id$="y2"] {
    display: none;
}