body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: black;
}

main, button {
    margin: 20px auto;
}

main > div {
    border: 0.5px solid darkgray;
    padding: 14px;
}
  
main {
    display: grid;
    width: 280px;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-color: black;
}

[id$="y0"],
[id$="y1"],
[id$="y2"] {
    opacity: 0.5;
}
  