body {
    font-family: 'Press Start 2P', monospace;
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: yellow;
    margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

main {
    max-width: 500px;
    width: 100%;
}

header {
    margin: 0.5vw;
    height: auto;
    padding: 1vw;
}

section {
    display: flex;
    align-items: flex-start;
}

article,
aside {
    margin: 0.5vw;
    flex: 5;
    display: grid;
    border: 1px solid rgba(150, 150, 150, 0.);

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(23, 1fr);
}

aside {
    flex: 3;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

article > div,
aside > div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0.5px solid darkgray;
}

aside > div {
    border: none;
}

article [id$="y0"],
article [id$="y1"],
article [id$="y2"] {
    display: none;
}